@import "../../styles/mixins/variables.module.scss";
.mainWrapper {
  background: #0a0e17;
  height: auto;
  padding-bottom: 4rem;
  position: relative;
  margin-top: 0;
  padding: 0;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;

  padding: 5rem;
  justify-content: space-between;
}
.paginate {
  text-align: center;
  padding: 1rem 2rem;
  color: white;
  background-color: $primaryColor;
  margin: 0rem 5rem;

  position: absolute;
  right: 0;
}
@media only screen and (max-width: 799px) {
  .mainWrapper {
    background: #0a0e17;
    height: auto;
    padding-bottom: 4rem;
    position: relative;
    width: 100%;
    .paginate {
      text-align: center;
      padding: 0.5rem 1rem;
      color: white;
      background-color: $primaryColor;

      position: absolute;
      right: 0;
    }
  }
  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
